body { font-family:sans-serif; color: #ffffff;  background-color: #DFDBB5; margin-top:0;
/*background: url(http://www.milfont.org/images/bg.jpg) no-repeat center top;*/
}
ol ol li { list-style: lower-latin; }

#logo { height: 60px; background-color: #493F0B; }
#logo img { float: left; }
#logo span { display: block; margin-left: 160px; line-height: 60px; font-weight: bold; font-size: 45px; }

#logo #user_profile {
min-width: 260px;
margin-top:0; margin-right:5px; float: right;font-size: 12px; background-color: #161616;
-moz-border-radius: 0 0 10px 10px;
-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px; /* future proofing */
-khtml-border-radius: 0 0 10px 10px; /* for old Konqueror browsers */
}
#logo #user_profile span { font-size: 10px; margin: 5px; line-height: 10px; font-weight: bold;}
#logo #user_profile img { margin: 5px; height: 38px; width: 38px; }
#logo #user_profile a { color: #7DC6F0; }

#main {
  margin-left:auto; margin-right:auto; width: 980px; background-color: #DFDBB5;
  -moz-box-shadow: 0 0 20px #000; -webkit-box-shadow: 0 0 20px #000;  box-shadow: 0 0 20px #000;
}

#milfont {
  margin-left:auto; margin-right:auto; width: 980px; background-color: #DFDBB5;
  margin-top:100px;
  /*-moz-box-shadow: 0 0 20px #000; -webkit-box-shadow: 0 0 20px #000;  box-shadow: 0 0 20px #000;*/
}
#content-milfont {min-height: 600px; background-color: #F5F6D4; color: #000000; margin:0px;
}

#menu {
  line-height: 30px; height: 30px; font-weight: bold; font-size: 15px; border: #161616 3px solid;
  background-color: #161616;
}
#menu ul { list-style: none; margin: 0 5px; padding: 0;}
#menu ul li { display: block; position: relative; text-align: center; float: left; width: 110px;}
#menu ul li a { text-decoration: none; color: #F5F6D4;}
#menu ul li a:hover { color: #DFDBB5;}
#menu ul li a:active {text-decoration: none; color: #FF0000;}

#content {min-height: 600px; background-color: #F5F6D4; color: #000000; border-bottom: #332C08 2px solid;
margin:0px;
}

#curso { background-color: #F5F6D4; height: 370px; color: #000000; border-bottom: #332C08 2px solid;}
#curso a { float:left; color: #7DC6F0;}

#curso .descricao { float: left; font-weight: bold; font-size: 14px; color: #493F0B; width: 530px; }

#curso .video {
  float: left; font-weight: bold; font-size: 22px; color: #493F0B; padding-top:10px;
  background-color: #CFDFB5; height: 330px; width: 420px; border: #FFF 1px solid; margin: 10px; }
  
#curso .video span { color: #7F7F4A; }
#curso .video p { margin-top: 0; margin-bottom: 0; margin-left: 10px; }
    
#ementa {
  background-color: #493F0B; border-top: #554A0D 1px solid; color: #A4AF60; 
  border-bottom: #51492B 2px solid; min-height: 600px;
  -moz-box-shadow:inset 0 0 20px #000000;
  -webkit-box-shadow:inset 0 0 20px #000000;
  box-shadow:inset 0 0 20px #000000;
}
#ementa h2 {color: #6C7C06;}
#ementa a {color: #7DC6F0;}

#ementa #sidebar { float: right; width: 300px;}

#ementa #sidebar #instrutor {
  float: right; background-color: #A7A37E; margin-right: 20px;
  color:#5A573B; min-width: 300px; margin-top: 15px; border: #F3F0D0 1px solid;
}

#ementa #sidebar #calendario {float: right; background-color: #A7A37E; margin-right: 20px;
  color:#5A573B; min-width: 300px; margin-top: 15px; border: #F3F0D0 1px solid;}

#ementa #sidebar #instrutor, #ementa #sidebar #calendario {
   -moz-box-shadow:inset 0 0 5px #000000; -webkit-box-shadow:inset 0 0 5px #000000; box-shadow:inset 0 0 5px #000000; 
}
#ementa #sidebar #instrutor h2, #ementa #sidebar #calendario h2 { margin: 5px; color: #5A573B; }
#ementa #sidebar #instrutor a, #ementa #sidebar #calendario a { color: #317E95; margin: 5px; }
#ementa #sidebar #instrutor img, #ementa #sidebar #calendario img { margin: 5px; margin-top: 0; float: left; }
#ementa #sidebar #instrutor span, #ementa #sidebar #calendario span {
  display: block; margin: 10px; line-height: 10px; font-weight: bold;
}

#ementa #sidebar #calendario div {
    margin:10px;
}

#footer { color: #493F0B; }
#footer a {color: #317E95;}
#footer ul { list-style: none; margin: 0 5px; padding: 0;}
#footer ul li {display: block; position: relative; text-align: center; float: left; width: 110px; margin: 10px;}