<p>
Somos especializados em interfaces ricas em aplicações com Frameworks Javascript, inclusive com vasta experiência em migrações de plataforma desktop para a WEB. Abaixo alguns dos nossos CASES mais recentes:  
</p>
<p>
   Sistemas Contábeis com usabilidade específica exigida pelo <a href="http://www.fortesinformatica.com.br">cliente</a>. Tecnologias: Rails 3, Extjs, JRuby, EventMachine, Relatórios com Jasper/IReport.
</p>
<iframe src="http://www.screenr.com/embed/BJy" width="650" height="396" frameborder="0"></iframe>
<p>
  Sistema de gestão hospitalar em produção nos maiores <a href="http://www.insystem.com.br/clientes.html">hospitais públicos do Ceará</a>, inclusive com projetos inéditos como a <a href="http://www.milfont.org/tech/2010/03/07/transparencia-inedita-na-saude-publica/">"Conta do Paciente"</a>. Tecnologias: DWR, Extjs, Spring, Hibernate.
</p>
<iframe src="http://www.screenr.com/embed/Tnj" width="650" height="396" frameborder="0"></iframe>