<p>
  Empresa que participou da organização, coordenação e realização da Conferência Brasileira de Javascript, o <a href="http://braziljs.com.br/2011/">BrazilJS</a>.
</p>
<p>
  <img src="http://braziljs.com.br/2011/images/banner-496.jpg" alt="Banner BrazilJS 2011" />
  <a href="http://www.flickr.com/photos/cmilfont/sets/72157626741147748/">
    <img src="http://farm3.static.flickr.com/2058/5733878633_5aa4d96124_o.jpg" alt="público do BrazilJS 2011" />
  </a>
</p>

<p>
  Participamos da organização do Maré de Agilidade Fortaleza <a href="http://maredeagilidade.com.br/eventos_passados/fortaleza/08-2009/"> 2009 </a> e 2010.
</p>
<p>
  <img src="images/bannermare2009.png" alt="logo do Maré 2009" />
</p>